<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/layout.css">

        <title>{{title}}</title>

    </head>
    <body>
        <div class="nav-bar">
            <ul>
                <li><a href="">Log In</a></li>
            </ul>
        </div>
        {{{body}}}
    </body>
</html>