<div class="page" id="admin-dashboard">

    <div>
        <h4><a href="/findCommunity">See all communities</a>
    </div>
    <div class="container">
        <div class="col-md-4" id="signup">
            <form action="/grantCommunityAdmin" method="POST">
                <legend>Grant Admin Status</legend>
                <input class="form-control form-group" id="username" type="username" name="username" placeholder="Username">
                <button class="form-control form-group btn-primary" type="submit">Grant</button>
            </form>
        </div>
    </div>
</div>