<div class="page" id="onboarding">
    
    <div class="jumbotron">
        <div class="container">
            <h2 class="col-md-6">Select your city</h2>
            <h4 class="col-md-6">If your community isn't registered contact us to see how to join our program</h4> 
        </div>
    </div>

    <ul>
    {{#each cities as |city|}}
        <a href="/findCommunity/{{city}}"><li>{{city}}</li></a>
    {{/each}}
    </ul>
</div>