<div class="page" id="onboarding">
    
    <div class="jumbotron">
        <div class="container">
            <h1>Select your community</h1>
        </div>
    </div>
    
    <ul>
    {{#each communities}}
        <a href="/findSuperUnit/{{_id}}"><li>{{name}}</li></a>
    {{/each}}
    </ul>
</div>