<div id="guests">
    <h3>Guest List</h3>
    <ul>
    {{#each guests}}
        <li>{{name}}</li>
    {{/each}}
    </ul>
</div>
<div id="requests">
    <h3>Requests</h3>
</div>
<div id="units">
    <h3>Your Units</h3>
    <ul>
    {{#each units}}
        <li>{{name}} {{superUnit}}</li>
    {{/each}}
    </ul>
</div>