<div class="page" id="dashboard">

<h2>{{community}}</h2>

    <div id="guests">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Guests</h3>
        </div>
        <div class="panel-body">
            <ul class="feed-list">
            {{#each guests}}
                <li class="well">
                <form>
                    <label class="form-group">{{name}}</label><br> 
                    <label class="form-group">{{status}}</label>
                    <button class="form-control form-group btn-primary" type="submit">Confirm Arrival</button>
                </form>
                </li>
            {{/each}}
            </ul>
        </div>
        </div>   
    </div>
</div>