<div id="security-dashboard">
    <h1>{{community}}</h1>
    <div id="guest-list">
        <ul>
        {{#each guests}}
            <li>
            {{name}} {{status}}
            </li>
        {{/each}}  
        </ul>
    </div>
</div>