<div id="signup">
    <form action="/signup" method="POST">
        <input id="username" type="username" name="username" placeholder="Username">
        <input id="password" type="password" name="password" placeholder="Password">
        <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm Password">
        <button type="submit">Create Account</button>
    </form>
</div>