<div class="page" id="standby">
    <div class="jumbotron">
        <div class="container">
            <h1>One more step</h1>
            <h3>You will be contacted by your community's administration to verify you are resident</h3>
            <h4>Contact them directly to expedite the process</h4>
        </div>
    </div>
</div>