.jumbotron {
    padding-top: 100px;
    padding-bottom: 50px;
}
#login {
    margin-top: 100px;
}

.page {
    margin: 80px 20px 20px 20px;
}

.feed-list {
    padding: 0;
    list-style: none;
}

.feeds {
    display: inline-block
}

.panel {
    min-height: 500px;
}

.well {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.btn-primary {
    background-color: #00BD00;
}*/